APP_MODE="hybrid" # "local" or "hybrid"
AWS_REGION=us-east-2

# LocalStack
LOCALSTACK_ENDPOINT=http://localhost:4566
LOCALSTACK_AUTH_TOKEN=

# Real AWS
AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY_SECRET=
AWS_SESSION_TOKEN=


# Real AWS S3 buckets
REAL_S3_INPUT_BUCKET=aws-webrtc-poc-input
REAL_S3_OUTPUT_BUCKET=aws-webrtc-poc-output

# Simulated AWS S3 buckets
LOCAL_S3_INPUT_BUCKET=poc-input
LOCAL_S3_OUTPUT_BUCKET=poc-output
LOCAL_S3_SNAPSHOTS_BUCKET=poc-snapshots

# IoT
THING_NAME=Simulated-Camera-POC
CLIENT_ID=Simulated-Camera-POC-001
IOT_ENDPOINT=a1m40v8bpuu2h8-ats.iot.us-east-2.amazonaws.com
IOT_CERT_PATH=./certs/device.pem.crt
IOT_KEY_PATH=./certs/private.pem.key
IOT_CA_PATH=./certs/AmazonRootCA1.pem

# KVS
KVS_CHANNEL_NAME=cam-001-live

# Media
MEDIALIVE_INPUT_NAME=cam-001-input
MEDIALIVE_CHANNEL_NAME=cam-001-live-channel
MEDIAPACKAGE_CHANNEL_GROUP=cam-001-group
MEDIAPACKAGE_CHANNEL=cam-001-package-channel
MEDIAPACKAGE_ENDPOINT=cam-001-hls-endpoint
MEDIASTORE_CONTAINER=cam001container
MEDIACONVERT_ROLE_ARN=arn:aws:iam::YOUR_ACCOUNT_ID:role/MediaConvert_Default_Role

# Assets
SAMPLE_VIDEO=./assets/sample.mp4